.nav-button {
  cursor: pointer;
  user-select: none;
}

.vtubers-button {
  background: url("../../assets/hololive.png") no-repeat; 
  background-size: 30px 30px;
  background-position: center;
}
.vtubers-button:hover {
  background: url("../../assets/fubuki.gif") no-repeat; 
  background-size: contain;
  background-position: center;
}
