<mat-list>
  <div class="nav-button" matRipple>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>home</mat-icon>Home</mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div class="nav-button" matRipple>
    <mat-list-item><mat-icon>movie</mat-icon>Videos</mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div class="nav-button" matRipple>
    <mat-list-item><mat-icon>videogame_asset</mat-icon>Game a day</mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
