<mat-list>
  <div class="nav-button" matRipple>
    <mat-divider></mat-divider>
    <mat-list-item (click)="goToMainPage()"><mat-icon>home</mat-icon></mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div class="nav-button" matRipple>
    <mat-list-item (click)="goToVideosPage()"><mat-icon>movie</mat-icon></mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div class="nav-button" matRipple>
    <mat-list-item (click)="goToGamingPage()"><mat-icon>videogame_asset</mat-icon></mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div class="nav-button vtubers-button" matRipple>
    <mat-list-item (click)="goToVtubersPage()"></mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <!--TODO CHAGE ICON SIZE-->
</mat-list>