.sidenav-content {
  background-color: #72727b;
  opacity: 0.8;
  background: linear-gradient(135deg, #49156A55 25%, transparent 25%) -27px 0/ 54px 54px,
    linear-gradient(225deg, #49156A 25%, transparent 25%) -27px 0/ 54px 54px,
    linear-gradient(315deg, #49156A55 25%, transparent 25%) 0px 0/ 54px 54px,
    linear-gradient(45deg, #49156A 25%, #72727b 25%) 0px 0/ 54px 54px;
}

.toolbar-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container{
  flex: 1;
}

.navigation-toolbar{
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Crimson Pro', serif;
  font-size: 48px;
}