<div class="toolbar-flex">

  <mat-toolbar>

    <mat-toolbar-row class="navigation-toolbar">
      <div></div>
      <h1>Known Shysters</h1>
      <button mat-raised-button (click)="sidenav.toggle(); toggleMenu();">
        <mat-icon class="menuButton" *ngIf="menuOpen">menu_open</mat-icon>
        <mat-icon class="menuButton" *ngIf="!menuOpen">menu</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav-content>
      <app-main-page></app-main-page>
    </mat-sidenav-content>

    <mat-sidenav class="sidenav-box" #sidenav mode="side" position="end">
      <app-main-navigation></app-main-navigation>
    </mat-sidenav>

  </mat-sidenav-container>

</div>
