mat-toolbar {
    position: fixed;
    z-index: 100;
}

.navigation-toolbar{
    display: flex;
    justify-content: space-between;
}

.sidenav-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.sidenav-box {
    padding: 20px;
}