.mainPage{
  background-color: #616161;
}

.main-flex{
  display: flex;
  justify-content: center;
}

.shyster-feed-flex{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.shyster-card-flex{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.shyster-card {
  padding-top: 1em;
  width: 25%;
}