.mainPage{
    background-color: #616161;
  }

.shyster-flex{
  display: flex;
  flex-direction: column;
}

.shyster-card {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 5%;
}

app-shyster{
}
