<div class="main-flex">
    <mat-card *ngFor="let videoId of videoIds" class="video-card">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content class="video-card-content">
            <youtube-player 
            videoId={{videoId}}
            suggestedQuality="highres" 
            [height]="250" 
            [width]="500" 
            [startSeconds]=""
            [endSeconds]="">
            </youtube-player>
        </mat-card-content>
    </mat-card>    
</div>

