
.main-flex{
  display: flex;
}

.shyster-feed-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.shyster-card-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.shyster-right-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.shyster-card {
  padding-top: 1em;
  width: 50%;
}