
  <div class="main-flex">
    <div class="shyster-feed-flex">
      <!--REPLACE ME WITH SHIT-->
    </div>
    <div class="shyster-card-flex">
      <app-shyster class="shyster-card"></app-shyster>
      <app-shyster class="shyster-card"></app-shyster>
      <app-shyster class="shyster-card"></app-shyster>
      <app-shyster class="shyster-card"></app-shyster>
      <app-shyster class="shyster-card"></app-shyster>
    </div>
    <div class="shyster-right-flex">
      <!--REPLACE ME WITH SHIT-->
    </div>
  </div>
